{% extends "django_tables2/bootstrap5.html" %}  <!-- or "django_tables2/table.html" -->

{% block table.thead %}
<thead {{ table.attrs.thead.as_html }}>
    <tr>
    {% for column in table.columns %}
        <th>
            <div class="header-content">
                <div class="header-title">
                  {% if column.attrs.th.widget %}
                  {{column.header}}
                  <div class="header-widget">
                      {{ column.attrs.th.widget.as_p }}
                  </div>
                  {% endif %}
                </div>
            </div>
        </th>
    {% endfor %}
    </tr>
</thead>
{% endblock table.thead %}