<div id="fileupload-trigger-{{ field_name }}" class="fileupload-trigger d-none" hx-swap-oob="outerHTML">
  <button
    type="button"
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#SelectFile"
    hx-get="{% url 'dataframe:filesselect' %}"
    hx-target="#SelectFile .modal-body"
    hx-swap="innerHTML"
  >
    Загрузить файл
  </button>
</div>

<div id="fileupload-hidden-{{ field_name }}" class="fileupload-hidden-input-container" hx-swap-oob="outerHTML">
  <input type="hidden" name="{{ field_name }}" value="{{ pk }}">
  <div class="d-flex align-items-center gap-2 mt-2 fileupload-selected-file">
    <span class="text-muted" data-fileupload-filename>{{ filename }}</span>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary"
      data-bs-toggle="modal"
      data-bs-target="#SelectFile"
      hx-get="{% url 'dataframe:filesselect' %}"
      hx-target="#SelectFile .modal-body"
      hx-swap="innerHTML"
    >Изменить</button>
  </div>
</div>

<div class="d-none" data-selected-pk="{{ pk }}"></div>
