<div class="container mb-4">
  <h1 class="d-inline">
    Наценки
  </h1>
  <button class="btn btn-secondary d-inline mb-3" 
        hx-get="{% url 'uniquepricemanager-create' pk=mainproduct.pk %}" 
        hx-target="#mainproduct-card"
        hx-push-url="{% url 'uniquepricemanager-create' pk=mainproduct.pk %}">
        Добавить
  </button>
</div>
{% for uniquepricemanager in uniquepricemanagers %}
<div class="border border-dark rounded p-2 row gap-2">
  <button type="button"
      class="btn btn-outline-dark btn-sm col-1 " 
      hx-get="{% url "uniquepricemanager-update" pk=uniquepricemanager.pk%}" 
      hx-target="#mainproduct-card"
      hx-push-url="{% url "uniquepricemanager-update" pk=uniquepricemanager.pk%}">
      <i class="bi bi-pencil-square"></i>
  </button>
  <div class="col-6">
    {{uniquepricemanager}}
  </div>
</div>
{% endfor %}