{% load crispy_forms_field %}
<div class="form-check form-switch filter-switch mb-0{% if field.errors %} has-error{% endif %}">
    <input type="checkbox"
        name="{{ field.html_name }}"
        id="{{ field.auto_id }}"
        class="form-check-input{% if field.errors %} is-invalid{% endif %}"
        role="switch"
        {% if field.value %}checked{% endif %}>
    <label class="form-check-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {% if field.errors %}
    <div class="invalid-feedback d-block">
        {% for error in field.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}
</div>
