<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="persistentNotificationsOffcanvas"
  aria-labelledby="persistentNotificationsOffcanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="persistentNotificationsOffcanvasLabel">Оповещения</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
  </div>
  <div class="offcanvas-body">
    <div
      id="persistent-notifications-panel"
      hx-get="{% url 'persistent-notifications-panel' %}"
      hx-trigger="every 15s"
      hx-swap="innerHTML"
    >
      {% include "core/partials/notifications_panel_content.html" %}
    </div>
  </div>
</div>
