<div class="table-skeleton">
  <div class="table-skeleton-row table-skeleton-row--head">
    <span class="sk-bar" style="width: 40%;"></span>
  </div>
  <div class="table-skeleton-row">
    <span class="sk-bar" style="width: 90%;"></span>
  </div>
  <div class="table-skeleton-row">
    <span class="sk-bar" style="width: 70%;"></span>
  </div>
  <div class="table-skeleton-row">
    <span class="sk-bar" style="width: 80%;"></span>
  </div>
  <div class="table-skeleton-row">
    <span class="sk-bar" style="width: 60%;"></span>
  </div>
  <div class="table-skeleton-row">
    <span class="sk-bar" style="width: 75%;"></span>
  </div>
</div>
