
<div id="mainproducts-block" class="row p-3">
    
  <div class="col-4 main-filters-card">
    {% include "mainproduct/partials/filter.html" %}
  </div>
  <div class="col-8 mt-4">
    <div class="p-3 shadow-sm overflow-auto border rounded" id="mainproducts-table">
      {%partialdef partialtableblock inline=True%}
        {%partialdef partialtable inline=True%}
          {% load django_tables2 %}
          {% render_table table %}
        {%endpartialdef%}
          {% if bound%}
            {%load crispy_forms_tags%}
            {% crispy filter.form filter.form.helper%}
          {% endif %}
        {%endpartialdef%}
    </div>
  </div>
</div>
