{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Новый датафрейм
{% endblock %}

{% block body %}
<div class="container">
  <h2>Создание датафрейма</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    <div id="conf-source-container" hx-get="{% url 'dtaframe:dataframe-conf-source' %}" hx-trigger="load" hx-swap="innerHTML"></div>
    
    {{ form.cols|as_crispy_field }}
    <button type="submit" value="add">Сохранить</button>
  </form>
</div>
{% endblock %}
