{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Новый датафрейм
{% endblock %}

{% block body %}
<div class="container" id="DataFrameForm">
  <h2>Создание датафрейма</h2>
    {% csrf_token %}
    {% crispy form %}
</div>

<div class="modal fade" id="SelectFileModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выбор файла</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="SelectFileContent">
            </div>
        </div>
    </div>
</div>
{% endblock %}
