{% extends 'base.html' %}
{% load fileupload_tags %}

{% block title %}
Новый датафрейм
{% endblock %}

{% block body %}
<div class="container">
  <h2>Создание датафрейма</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% fileupload field_name='file_pk' button_text='Загрузить файл' %}
    <button type="submit" value="add">Сохранить</button>
  </form>
</div>

<div class="modal fade" id="SelectFile" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбор файла</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
{% endblock %}
