{% load crispy_forms_tags %}
<hx-partial hx-target="#DataFrameForm" hx-swap="innerHTML" hx-push-url="true">
    <h2>Редактирование датафрейма</h2>
    {% crispy form form.helper %}
    
    <div class="modal fade" id="SelectContentTypeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создание связи</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="SelectContentTypeContent">
                </div>
            </div>
        </div>
    </div>
</hx-partial>