{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Датафрейм: {{object.name}}
{% endblock %}

{% block body %}
{%partialdef partial inline%}
<div class="container" id="DataFrameForm">
  <h2>Редактирование датафрейма</h2>
    {% crispy form %}
</div>

<div class="modal fade" id="contenttypeCreateModal" tabindex="-1"
     aria-labelledby="contenttypeCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="contenttypeCreateModalContent">
      <div class="modal-body text-center py-4">
        <div class="spinner-border text-secondary" role="status"></div>
      </div>
    </div>
  </div>
</div>
{%endpartialdef%}
{% endblock %}
