{% extends 'base.html' %}

{% block title %}
Новый поставщик
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Новая настройка</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    {% load django_tables2 %}
    <div class="form-control d-flex">
      <div class="container">
        {{form.as_p}}
      </div>
      {% load special_tags %}
      <div class="accordion accordion-flush w-75" id="accordion">
        {{initial_formset.management_form}}
        {% for key, value in dict_forms %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{key}}" aria-expanded="false" aria-controls="flush-collapse{{key}}">
              {{LINKS|get_item:key}}
            </button>
          </h2>
          <div id="flush-collapse{{key}}" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body">
                {% with initial_form=initial_forms|get_item:key %}
                {{initial_form.as_table}}
                {% endwith %}
                {{value.management_form}}
                {% with dict_table=tables|get_item:key %}
                {% render_table dict_table %}
                {% endwith %}
                <div class="text-center">
                  <button class="btn" type="submit" name="{{key}}_action" value="add"><i class="bi bi-plus-lg bg-success-subtle"></i></button>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
      <button type="submit" name="submit-btn" value="apply">Применить</button>
      <button type="submit" name="submit-btn" value="save">Сохранить</button>
      <div class="container table-responsive">
        {{ link_factory.management_form }}
        {% render_table table %}
      </div>
  </form>
{% endblock %}

{% block script %}

{% endblock %}