<ul class="nav nav-tabs" id="selectContentTypeTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="new-contenttype-tab" data-bs-toggle="tab" data-bs-target="#new-contenttype-pane" type="button" role="tab" aria-controls="new-contenttype-pane" aria-selected="true">Загрузить новый файл</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="existing-contenttype-tab" data-bs-toggle="tab" data-bs-target="#existing-contenttype-pane" type="button" role="tab" aria-controls="existing-contenttype-pane" aria-selected="false">Выбрать существующий файл</button>
  </li>
</ul>

<div class="tab-content pt-3" id="selectContentTypeTabsContent">
  <div class="tab-pane fade show active" id="new-contenttype-pane" role="tabpanel" aria-labelledby="new-contenttype-tab">
        <div 
            hx-get="{% url "dataframe:contenttypecreate"%}"
            hx-trigger="load"
            hx-swap="outerHTML">
            <span>Loading...</span>
        </div>
  </div>

  <div class="tab-pane fade" id="existing-contenttype-pane" role="tabpanel" aria-labelledby="existing-contenttype-tab">
    {% if contenttypes %}
      <ul class="list-group">
        {% for item in contenttypes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ item.contenttype}}</span>
                <button 
                    hx-get="{% url "dataframe:contenttypeselect" pk=item.pk%}"
                    hx-swap="outerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#SelectContentTypeModal"
                    >
                    <span>Выбрать</span>
                </button>
            </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted mb-0">Добавте тип контента.</p>
    {% endif %}
  </div>
</div>
