{% for item in items %}
  {% if forloop.last and items.has_next %}
    <tr
      hx-get="{% url "setting-sps-table" pk=pk %}{% querystring page=page|add:1 %}"
      hx-trigger="intersect once"
      hx-swap="afterend"
      hx-indicator="#result-products-placeholder"
      hx-target="this"
    >
  {% else %}
    <tr>
  {% endif %}
      <td>{{ item.article|default_if_none:'' }}</td>
      <td>{{ item.name|default_if_none:'' }}</td>
      <td>{{ item.description|default_if_none:'' }}</td>
      <td>{{ item.category|default_if_none:'' }}</td>
      <td>{{ item.manufacturer|default_if_none:'' }}</td>
      <td>{{ item.discount|default_if_none:'' }}</td>
      <td>{{ item.stock|default_if_none:'' }}</td>
      <td>{{ item.supplier_price|default_if_none:'' }}</td>
      <td>{{ item.rrp|default_if_none:'' }}</td>
      <td>{{ item.discount_price|default_if_none:'' }}</td>
    </tr>
{% endfor %}
